<header>
    <div class="container">
        <div class="col-md-4">
            <div class="logo"> D4</div>
        </div>
        <div class="col-md-8 navmenu_ul">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li>
                    <a href="">Deploy</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</header>