{% extends 'base/header.html' %}
{% block body_block %}
    {% include 'base/menu.html' %}
    {% csrf_token %}
    <section id="main_dashboard">
        <div class="container">
        <table class="table">
            <tbody>
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        IP Address
                    </th>
                    <th>
                        Hostname
                    </th>
                    <th>
                        OS
                    </th>
                    <th>
                        Status
                    </th>
                    <th colspan="3">
                        actions
                    </th>
                </thead>

            {% for vm in vms %}
                <tr>
                    <td>
                        {{ vm.name }}
                    </td>
                    <td>
                        {{ vm.mainipaddress }}
                    </td>
                    <td>
                        {{ vm.hostname }}
                    </td>
                    <td>
                        {{ vm.template }}
                    </td>
                    <td>
                        {% if vm.vm_state == 1 %}
                            Running
                        {% elif vm.vm_state == 0 %}
                            OFF
                        {% else %}
                            Suspended
                        {% endif %}
                    </td>
                    <td>
                        <a href="javascript:;" onClick="user.vm_start({{ vm.id }})" >Start</a>
                        <a href="javascript:;" onClick="user.vm_reboot({{ vm.id }})">Reboot</a>
                        <a href="javascript:;" onClick="user.vm_pause ({{ vm.id }})">Pause</a>
                        <a href="javascript:;" onClick="user.vm_shutdown({{ vm.id }})">Shutdown</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>
{% endblock %}
</html>
