{% extends 'base/header.html' %}
{% block body_block %}

    <section id="login">
        <div class="container">
            <div class="col-md-8">
                <form action="" id="loginForm" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" id="username">
                    <br>
                    <input type="password" name="password" id="password">
                    <br>
                    <a href="javascript:;" onClick="user.login()">Submit</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
</html>
