header {
  padding: 20px 0;
}
header .logo {
  font-size: 20px;
}
header .navmenu_ul ul {
  float: right;
  display: inline;
}
header .navmenu_ul li {
  padding: 5px 20px;
  display: inline;
  list-style: none;
}
